@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}

body {

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
gap: 30px;
background: #2c4258;

}

h1{

    color: #00dfc4;
    font-size: 25px;
}

.inputBox
{
position: relative;
width: 250px;

}
.inputBox input
{

width: 100%;
padding: 10px;
border: 1px solid rgba(255, 255,255, 0.25);
background: #2c4258;
border-radius: 5px;
outline: none;
color: #fff;
font-size: 1em;
transition: 0.5s;
}

.inputBox span
{
position:absolute;
left: 0;
padding: 10px;
pointer-events: none;
font-size: 1em;
color: rgba(255, 255,255, 0.25);
text-transform: uppercase;
transition: 0.5s;
}
/*input value */
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{

color: #00dfc4;
transform: translateX(10px)translateY(-7px);
font-size: 0.65em;
padding: 0 10px;
background: #2c4258;
border-left: 1px solid #00dfc4;
border-right: 1px solid #00dfc4;
letter-spacing: 0.2em;
}


.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{

background: #00dfc4;
color: #2c4258;
border-radius: 2px;
}





.inputBox input:valid ,
.inputBox input:focus

{

border: 1px solid #00dfc4;

}

/*submit button style and effect*/
button {

    
    border: 1px solid rgba(255, 255,255, 0.25);
    background: #2c4258;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255,255, 0.25);
    padding: 12px 34px;
    position: relative;
    cursor: pointer;

}

button:hover {
    border:1px solid #00dfc4;
    background: #00dfc4;
    color: #fff;
    transition: 1s;
}




.inputBox button
{

width: 100%;
padding: 10px;
border: 1px solid rgba(255, 255,255, 0.25);
background: #2c4258;
border-radius: 5px;
outline: none;
color: #fff;
font-size: 1em;
transition: 0.5s;
}